.logo {
    vertical-align: middle;
    padding-left: 20px;

}

.titolo {
    display: inline;
    vertical-align: middle;
    font-weight: bold;
    font-family: Arial;

}
/* section button add-task end add section */
.container {
    margin: auto;
    background-color: white;
    height: 750px;
    width: 1400px;
    border-radius: 5px;
}

.button {
    padding: 20px 40px;
}

.add_task {
    padding: 5px;
    border-radius: 5px;
    font-size: 15px;
    border: 2px solid white;
    background-color: #66affe;
    color: white;
}

.add_section {
    padding: 5px;
    border-radius: 5px;
    font-size: 15px;
    border: 1px solid rgb(146, 146, 146);
    background-color: rgb(255, 255, 255);
    color: darkgray;
}

hr {
    border: 1px solid darkgrey;
}

/* section lista */

.list {
    margin: 40px 25px;
}

.style {
    font-family: Arial;
}

.margin {
    margin: 10px;
}

.green_check {
    color: green;
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-right: 10px;
    border-radius: 50%;
    line-height: 15px;
    font-size: 10px;
    text-align: center;
    border: 1px solid green
    
}

.red_cross {
    color: red;
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-right: 10px;
    border-radius: 50%;
    line-height: 15px;
    font-size: 10px;
    text-align: center;
    border: 1px solid red
}

.blue_label {
    color: #ffffff;
    padding: 6px;
    font-size: 10px;
    height: 15px;
    border-radius: 10px;
    background-color: #66affe;
}

.violet_label {
    color: #ffffff;
    padding: 6px;
    font-size: 10px;
    height: 15px;
    border-radius: 10px;
    background-color: #BA55D3;
}

.green_label {
    color: #ffffff;
    padding: 6px;
    font-size: 10px;
    height: 15px;
    border-radius: 10px;
    background-color: green;
}

.orange_label {
    color: #ffffff;
    padding: 6px;
    font-size: 10px;
    height: 15px;
    border-radius: 10px;
    background-color: #F4A460;
}

.pink_label {
    color: #ffffff;
    padding: 6px;
    font-size: 10px;
    height: 15px;
    border-radius: 10px;
    background-color: #C71585;
}

.lightgreen_label {
    color: #ffffff;
    padding: 6px;
    font-size: 10px;
    height: 15px;
    border-radius: 10px;
    background-color:lightgreen;
}






