.logo {
    vertical-align: middle;
    padding-left: 20px;

}

.titolo {
    display: inline;
    vertical-align: middle;
    font-weight: bold;
    font-family: Arial;

}

.container {
    margin: auto;
    background-color: white;
    height: 650px;
    width: 700px;
    border-radius: 5px;
}

.button {
    padding: 20px 40px;
}







